.Contact {
    width: 100%;
}
.Contact_container {
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 80px 0;
}
.Contact_container h1 {
    margin-bottom: 30px;
}
.Contact_Info p {
    line-height: 1.5;
    margin-bottom: 16px;
    color: #878787;
}
.Contact_Info a {
    text-decoration: none;
    color: #878787;
}
.Contact_Info a:hover {
    color: #000;
}
.Contact_form-control textarea{
    width: 100%;
    border: 1px #ddd solid;
    margin-bottom: 16px ;
    resize: none;
    padding: 16px;
}
.Contact_form-control input {
    padding: 16px;
    width: 100%;
    border: 1px #ddd solid;
    margin-bottom: 16px;
}
.Contact_form-control button {
    padding: 16px;
    border: 1px #ddd solid;
    color: #878787;
    width: 100%;
    cursor: pointer;
}