.ProductInfo {
    width: 100%;
    height: 800px;
    position: relative;
}
.ProductInfo > p {
    line-height: 1.5;
}
.ProductInfo_name {
    font-size: 2.5rem;
    font-weight: 300;
}
.ProductInfo_price {
    font-weight: 500;
    font-size: 1.5rem;
}
.ProductInfo_status {
    margin-top: 16px;
}
.ProductInfo form {
    margin-top: 16px;
    overflow: hidden;
    display: flex;
    height: 80px;
}
.ProductInfo_form-control {
    display: block;
    padding: 10px;
    height: 100%;
}
.ProductInfo_form-control input{
    width: 60px;
    height: 50px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #ddd;
}
.ProductInfo_primary-button {
    width: 200px;
    height: 50px;
    border-radius: 0;
    border: 1px solid #ddd;
    background: #fff;
    color: #000;
    margin-left: 25px;
}
.ProductInfo_primary-button:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}

.ProductInfo_primary-button span {
    position: relative;
    margin-left: 5px;
    top: -5px;
    font-size: 1.1rem;
    font-weight: 300;
}
.ProductInfo_tabs {
    position: relative;
    margin-top: 16px;
}
.ProductInfo_label {
    background: #7f7f7f;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
}
.ProductInfo_label:hover {
    cursor: pointer;
}
.ProductInfo_label-active {
    background: #f5f5f5;
    color: #737373;
}
.ProductInfo_tab {
    display: none;
    height: 400px;
    position: absolute;
    width: 100%;
}
.ProductInfo_tab-active {
    display: block;
    background: #f5f5f5;
    color: #737373;
    padding: 25px;
}
.ProductInfo_tab-tech p {
    border-bottom: 1px solid #ddd;
    padding: 16px;
}
.ProductInfo_tab-tech p:nth-child(1) {
    margin-top: -10px;
}
.ProductInfo_tab-tech p span {
    float: right;
}
.ProductInfo_tab-shipping p {
    line-height: 1.5;
}