.ProductPhotoContainer_main {

    position: relative;
}
.ProductPhotoContainer_main-inner {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.ProductPhotoContainer_main-inner img {
    width: 100%;
    display: block;
}
.ProductPhotoContainer_sub {
    width: 95%;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ProductPhotoContainer_sub-item {
    width: 22%;
    display: inline-block;
    border: 1px solid #ddd;
}
.ProductPhotoContainer_sub-item img {
    width: 100%;
    display: block;
    cursor: pointer;
}
.ProductPhoto-prev {
    position: absolute;
    outline: none;
    top: 50%;
    left: 16px;
    border: none;
    background: url(../../../images/sprite.png) no-repeat scroll -15px -388px transparent;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display:none;
}
.ProductPhoto-next {
    outline: none;
    position: absolute;
    top: 50%;
    right: 16px;
    border: none;
    background: url(../../../images/sprite.png) no-repeat scroll -540px -388px transparent;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}
.ProductPhotoContainer_main:hover .ProductPhoto-next {
    display: block;
}
.ProductPhotoContainer_main:hover .ProductPhoto-prev {
    display: block;

}
