.ProductItem {

}
/* product item */
.ProductItem{
    position: relative;
    padding: 10px;
}

.ProductItem__img{
    width: 100%;
    cursor: pointer;
}
.ProductItem__star{
    color: #C7C7C7;
    font-size: 13px;
    margin-top: 8px;
}
.ProductItem__name{
    margin: 5px 0;
    font-weight: 200;
    color: var(--text-color);
}
.ProductItem__price{
    color: var(--black-color);
    font-weight: 700;
}
.ProductItem__hover{
    position: absolute;
    top: 25px;
    left: 25px;
    display: none;
}
.ProductItem__icon{
    border-radius: 50%;
    background-color: var(--black-color);
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-bottom: 5px;
}
.ProductItem__icon-link{
    color: var(--white-color);
    font-size: 14px;
    text-align: center;
}
.ProductItem:hover{
    border: 1px solid #DEDEDE;
}
.ProductItem:hover .ProductItem__img{
    border: 1px solid #DEDEDE;
}
.ProductItem:hover .ProductItem__hover{
    display: block;
}
.ProductItem__icon:hover{
    background-color: rgba(0,0,0,0.5);
}
.ProductItem:hover .ProductItem_view {
    display: block;
}
.ProductItem_view {
    display: none;
    float: right;
    margin-top: -30px;
    border: 1px solid #ddd;
    padding: 5px;
    text-decoration: none;
    color: #737373;
}
.ProductItem_view:hover {
    background: #0c0c0d;
    color: #fff;
}