.ProductItem {

}
/* product item */
.home-product-item{
    position: relative;
    padding: 10px;
}

.home-product-item__img{
    width: 100%;

}
.home-product-item__star{
    color: #C7C7C7;
    font-size: 13px;
    margin-top: 8px;
}
.home-product-item__name{
    margin: 5px 0;
    font-weight: 200;
}
.home-product-item__link{
    color: var(--text-color);
    text-decoration: none;
}
.home-product-item__price{
    color: var(--black-color);
    font-weight: 700;
}
.home-product-item__hover{
    position: absolute;
    top: 25px;
    left: 25px;
    display: none;
}
.home-product-item__primary{
    border-radius: 50%;
    background-color: var(--black-color);
    padding: 10px;
    margin-bottom: 5px;
}
.home-product-item__primary-link{
    color: var(--white-color);
    font-size: 14px;
    text-align: center;
}
.home-product-item__favourite{
    border-radius: 100%;
    background-color: var(--black-color);
    padding: 10px;
}
.home-product-item__favourite-link{
    color: var(--white-color);
    font-size: 14px;
    text-align: center;
}
.home-product-item:hover{
    border: 1px solid #DEDEDE;
}
.home-product-item:hover .home-product-item__img{
    border: 1px solid #DEDEDE;
}
.home-product-item:hover .home-product-item__hover{
    display: block;
}
.home-product-item__primary:hover{
    background-color: rgba(0,0,0,0.5);
}
.home-product-item__favourite:hover{
    background-color: rgba(0,0,0,0.5);
}
.home-product-item:hover .ProductItem_view {
    display: block;
}
.ProductItem_view {
    display: none;
    float: right;
    margin-top: -30px;
    border: 1px solid #ddd;
    padding: 5px;
    text-decoration: none;
    color: #737373;
}
.ProductItem_view:hover {
    background: #0c0c0d;
    color: #fff;
}