.CartItem {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}
.CartItem_img-wrapper {
    width: 90px;
}
.CartItem_img-wrapper img {
    width: 100%;
    display: block;
}
.CartItem_info {
    flex-grow: 2;
    padding-left: 16px;
}
.CartItem_info p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #0c0c0d;
    text-transform: uppercase;
}
.CartItem_price {
    display: flex;
    align-items: center;
}
.CartItem_price p {
    font-size: 1.2rem;
    line-height: 2.5;
    margin-left: 12px;
    color: #0c0c0d;
}
.CartItem_price input {
    width: 50px;
    height: 30px;
}
.CartItem_delete {
    position: relative;
}
.CartItem_deleteIcon {
    color: #737373;
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}
.CartItem_deleteIcon:hover {
    color: #0c0c0d;
    cursor: pointer;
}