/* FOOTER */
.Footer {
    width: 100%;
    height: 455px;
    background: black;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.Footer p, .Footer li {
    line-height: 1.75;
}
.Footer h1{
    margin-bottom: 18px;
}
.Footer h3 {
    margin-bottom: 25px;
}
.Footer_info ul {
    list-style-position: inside;
}

.Footer_info a {
    text-decoration: none;
    color: white;
}
.Footer_contact p, .Footer_info li {
    margin-bottom: 16px;
    color: var(--text-color);
    text-decoration: none;
}
.Footer_info li :hover{
    color: var(--white-color);
}
.Footer_container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}
.Footer_container-break {
    border-top: 1px #333 solid;
    width: 100%;
}
.Footer_item-middle {
    text-align: center;
    padding: 0 60px;
}
.Footer_subscription {
    padding-top: 20px;
    padding-bottom: 70px;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
}
.Footer_subscription h1 {
    margin-bottom: 25px;
}
.Footer_subscription p {
    padding-bottom: 18px;
    line-height: 1.75;
}
.Footer_subscription input {
    border-radius: 26px;
    border: none;
    outline: none;
    padding: 16px;
}
.Footer_contact {
    padding-left: 25px;
    padding-right: 25px;
}
.Footer_payment-icon {
    padding-top: 25px;
}
.Footer_payment-icon li {
    display: inline-block;
}
.Footer_payment-icon li a {
    display: block;
    height: 26px;
    width: 44px;
}
.Footer_payment-icon .discover {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1315px transparent;
}
.Footer_payment-icon .visa {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1215px transparent;
}

.Footer_payment-icon .master {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1265px transparent;
}

.Footer_payment-icon .paypal {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1365px transparent;
}
.Footer_copyright {
    padding-top: 25px;
}
.Footer_social-icon {
    padding-top: 25px;
    float: right;
}
.Footer_social-icon li {
    display: inline-block;
    border-radius: 100%;
    height: 44px;
    width: 44px;
}
.Footer_social-icon li a {
    display: block;
}
.Footer_social-icon .google {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -930px transparent;
}
.Footer_social-icon .facebook {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -985px transparent;
}
.Footer_social-icon .twitter {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1094px transparent;
}
.Footer_social-icon .linkedin {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1040px transparent;
}
.Footer_social-icon .rss {
    background: url('../../../images/sprite.png') no-repeat scroll -16px -1149px transparent;
}
